GOOGLE_SHEETS_ID=your_sheets_id_here
GOOGLE_SERVICE_ACCOUNT_JSON=path_to_your_json_file

BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=your_email@example.com
BREVO_SENDER_NAME=Your Name


VERCEL_TOKEN=your_vercel_token_here
VERCEL_PROJECT_ID=your_project_id
VERCEL_ORG_ID=your_org_id
VERCEL_PROJECT_NAME=your_project_name
AUDIT_DOMAIN=audit.incidenx.com


RESEND_API_KEY=your_resend_api_key_here